/* Main CSS */

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    font-weight: 400;
}

/* Similar CSS Style */

.sectionBG {
    background-color: rgba(229, 84, 115, 0.1);
    padding-top: 50px;
}

.colorBG-one {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.colorBG-two {
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.colorBG-three {
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;`
}

.section-container {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.inlineBlock {
    display: inline-block;
}

h3.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

p.section-sub-title {
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    width: 590px;
    margin: 0 auto;
}

/* Header Section CSS */

.header-content {
    display: flex;
    margin: 0 auto;
    text-align: left;
    align-items: center;
}

.header-description {
    width: 50%;
    margin-right: 100px;
}

.header-image {
    display: flex;
}

.header-image img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin-bottom: 0;
}

.header-description .project-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
}

.header-description .project-description {
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}

button.section-btn {
    border-radius: 8px;
    background: #e55473;
    padding: 20px 43px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

button.section-btn:hover {
    background-color: #fff;
    color: #e55473;
    transition: .5s;
    cursor: pointer;
}



/* Feature Section CSS */

section.featured-section {
    padding-bottom: 128px;
}

.featured-tree p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px; 
    text-decoration-line: underline;
}
.featured-content {
    margin-top: 150px;
    margin-bottom: 50px;
}

.featured-tree img {
    width: 370px;
    display: grid;
    height: 470px;
    padding: 110px 42px 0 42px;
    margin-right: 35px;
}

.featured-tree:last-child  img {
    margin-right: 0;
}

.featured-tree 
 p.featured-tree-title {
    margin-top: 32px;
}

.featured-tree:hover p {
    color: #e55473;
    transition: .3s;
    cursor: pointer;
}

.featured-tree:hover img.colorBG-one {
    background-color: rgba(44, 2, 23, 0.15);
    transition: .3s;
    border-radius: 150px 150px 0px 0px;
}

.featured-tree:hover img.colorBG-two {
    background-color: rgba(1, 35, 37, 0.15);
    transition: .3s;
    border-radius: 150px 150px 0px 0px;
}

.featured-tree:hover img.colorBG-three {
    background-color: rgba(15, 29, 1, 0.15);
    transition: .3s;
    border-radius: 150px 150px 0px 0px;
}


/* Delivery Section */

section.delivery-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 150px;
    padding: 87px 0px;
    display: flex;
    justify-content: space-evenly;
}

section.delivery-section .flower-delivery img {
    width: 88px;
    margin-bottom: 15px;
}


/* Reviews Section Style CSS */


section.reviews-section .reviews-box {
    margin-top: 80px;
}


.reviews-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2%;
}

.rate-box {
    color: #fff;
}

.rate-and-based {
    background-color: darkcyan;
    border-radius: 10px;
    padding: 50px;
}

.rate h2 {
    font-size: 60px;
    margin-bottom: 25px;
}

.star i {
    color: gold;
    margin-right: 6px;
    text-align: center;
}

.rate {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

.based h4 {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 5px;
}

.based h3 {
    font-size: 32px;
    margin-bottom: 10px;
}

.based h3 i {
    margin-right: 11px;
    color: #e55473;
}

button.read-more {
    background-color: #e55473;
    padding: 10px 35px;
    border: 0px;
    margin-top: 15px;
    border-radius: 7px;
    color: #fff;
    font-size: 23px;
    font-weight: 800;
    border: 2px solid #e55473;
}


button.read-more:hover {
    background-color: #fff;
    color: darkcyan;
    transition: .5s;
    cursor: pointer;
    border: 2px solid darkcyan;
}

.review-list {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 0px 20px 20px 20px;
    box-shadow: 7px 13px 14px #ddd;
}

.review-author {
    display: flex;
}

.review-content p {
 
    font-size: 18px;
    font-weight: 800;
}

.review-content p {
    border-bottom: 0;
}
    

.review-author h3 {
    margin-right: 15px;
    font-size: 20px;
}


.review-list p {
    color: #999;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}



.meta-tag {
    display: flex;
    justify-content: flex-start;
    position: relative;
}


.review-list p i {
    color: #e55473;
    margin-right: 10px;
}

.meta-tag p {
    border-bottom: 0;
    position: absolute;
    top: 84px;
    left: 0;
    font-size: 18px;
    color: #000;
    font-weight: 700;
}

.meta-tag p span {
    display: block;
    font-size: 15px;
}


.review-list:hover {
    box-shadow: none;
    transition: .3s;
}


/* Offer Section Style CSS */
section.offer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    margin-bottom: 130px;
}

section.offer-section button {
    margin-top: 51px;
}

.offer-content {
    margin-right: 140px;
    text-align: center;
}

.offer-content .section-title span {
    color:  #E55473;
}



/* Instagram Style CSS */

section.instagram-section {
    margin-bottom: 150px;
}

  .instagram-images {
    display: flex;
    gap: 24px;
    margin-top: 50px;
}


/* Subscribe Style CSS */
.subscribe-section{
    background-image: url(../images/bg.png);
    margin-bottom: 128px;
    padding: 121px 0;
    background-size: cover;
    background-position: top;
}


section.subscribe-section input[type="email"] {
    padding: 22px 450px 22px 22px;
    margin-right: 11px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    border: 0px;
    border-radius: 8px;
    background: #FFF;
}

section.subscribe-section p.section-sub-title {
    margin-bottom: 50px;
}
/* Footer Section */

footer {
    background-color: #111010;
    color: #fff;
}

.footer.content h2 {
    color: #e55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer.content h2 span {
    color: #fff;
}

.footer.content {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    margin: 0 auto;
    padding: 180px 0;
    text-align: center;
}

.footer.content .copy-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}
