/* Main CSS */

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
    font-weight: 400;
}

/* Similar CSS Style */

.sectionBG {
    background-color: rgba(229, 84, 115, 0.1);
    padding-top: 50px;
}

.colorBG-one {
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.colorBG-two {
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 300px 300px 0px 0px;
}
.colorBG-three {
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 300px 300px 0px 0px;`
}

.section-container {
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 128px;
}

.inlineBlock {
    display: inline-block;
}

h3.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
}

p.section-sub-title {
    color: rgba(39, 39, 39, 0.6);
    text-align: center;
    width: 590px;
    margin: 0 auto;
}

/* Header Section CSS */

.header-content {
    display: flex;
    margin: 0 auto;
    text-align: left;
    align-items: center;
}

.header-description {
    width: 50%;
    margin-right: 100px;
}

.header-image {
    display: flex;
}

.header-image img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    margin-bottom: 0;
}

.header-description .project-title {
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 32px;
}

.header-description .project-description {
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 32px;
}

button.section-btn {
    border-radius: 8px;
    background: #e55473;
    padding: 20px 43px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* Feature Section CSS */
.featured-tree p {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px; /* 145.833% */
    text-decoration-line: underline;
}
.featured-content {
    margin-top: 150px;
    margin-bottom: 50px;
}

.featured-tree img {
    width: 370px;
    display: grid;
    height: 470px;
    gap: 50%;
    padding: 110px 42px 0 42px;
    margin-right: 20px;
}

.featured-tree 
 p.featured-tree-title {
    margin-top: 32px;
}
/* Delivery Section */

/* Footer Section */
footer {
    background-color: #111010;
    color: #fff;
}

.footer.content h2 {
    color: #e55473;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.footer.content h2 span {
    color: #fff;
}

.footer.content {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
    margin: 0 auto;
    padding: 180px 0;
    text-align: center;
}

.footer.content .copy-right {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}
